<div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column" class="box-menus">
  <div fxFlex>
    <div class="each-info-box">
      <h2>Funny Videos</h2>
      <p>And here are our youtube fans' responses:
        Shoot couples on their wedding day!</p>
    </div>
  </div>
  <div fxFlex>
    <div class="each-info-box">
      <h2>Bollywood Dubbed</h2>
      <p>And here are our youtube fans' responses:
        Shoot couples on their wedding day!</p>
    </div>
  </div>
  <div fxFlex>
    <div class="each-info-box">
      <h2>ROAST Videos</h2>
      <p>And here are our youtube fans' responses:
        Shoot couples on their wedding day!</p>
    </div>
  </div>
  <div fxFlex>
    <div class="each-info-box">
      <h2>New Talent</h2>
      <p>And here are our youtube fans' responses:
        Shoot couples on their wedding day!</p>
    </div>
  </div>

  <div fxFlex>
    <div class="each-info-box">
      <h2>Funny Pictures</h2>
      <p>And here are our youtube fans' responses:
        Shoot couples on their wedding day!</p>
    </div>
  </div>
</div>
<!-- Box Menus end here -->